@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 12rem 0 6rem 0;
  color: $primary-color;
  display: flex;
  justify-content: center;
}
.task_container {
  height: calc(100% - 10rem);
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;

  @include respond(tab-port) {
    flex-direction: column;
  }
}
