@import "../../../shared/styles/variables.scss";

.container {
  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project_list {
  height: 24rem;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highlight {
  color: $primary-color;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
