@import "../../styles/variables.scss";

.container {
  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project_list {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-top: 2rem;
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  color: $primary-color;
  transition: all 0.3s ease;
  &:hover {
    width: 7rem;
    height: 7rem;
  }
}

.highlight {
  color: $primary-color;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
