@import "../../../../styles/variables.scss";
.icon {
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  color: $primary-color;
  transition: all 0.3s ease;
  &:hover {
    fill: $primary-color;
    transform: scale(1.3);
  }
}
